@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
}

body {
    font-family: 'Montserrat-Bold';
}


h2 {
    text-align: center;
}

/* nav section */
@media (max-width:700px) {
    body {
        text-align: center;
    }

    #navbar {
        width: 100%;
    }

    .main-image {
        width: 100%;
    }
}

#navbar{
    width:100%;
}

.nav-item {
    padding: 0px 15px;
    font-size: 18px;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #395B64;
    color: #fff;
}

.nav-headline {
    font-family: 'Montserrat';
}


/* HOME SECTION */

.colored-section {
    background-color: #2C3639;
}

.main-image {
    object-fit: cover;
    height: auto;
}

@media (max-width:700px){
    .main-image{
        width: 100%;
    }
}


.home-heading {
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: white;
}

/* animation included */
.ml {
    font-size: 2.7rem;
    font-style: italic;
    display: flex;
    color: white;
    animation: animate 5s linear infinite;
    overflow: hidden;
}


@keyframes animate {

    0%,
    10%,
    100% {
        color: white;
        box-shadow: none;
        width: 0
    }

    70%,
    90% {
        color: white;
        width: 100%
    }
}

/* INTRO SECTION */
#intro-section {
    text-align: center;
    padding: 50px;
    margin-top: -20px;
}



/* From the heading ABOUT */
#about-section {
    margin-top: -20px;
}

.image {
    position: relative;
    float: left;
    margin-right: 25px;
    margin-left: 70px;
    border-radius: 10px;
}

@media (max-width: 500px) {
    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


.heading {
    color: #395B64;
}

@media all and (max-width:1000px) {
    .image {
        border-radius: 10px;
        padding-left: 0px;
    }

    .heading {
        text-align: center;
        margin-left: 25px;
        margin-right: 10px;
    }
}

.list-1 {
    list-style-type: '> ';
    display: inline-block;
    line-height: 3;
}

.list-2 {
    list-style-type: '> ';
    display: inline-block;
    line-height: 3;
}


/* Skills Section */
#skills-section {
    padding: 50px;
    margin-top: -10px;
}

.skills-para {
    text-align: center;
}

.list-3 {
    margin-left: 300px;
    list-style-type: none;
    display: inline-block;
    line-height: 2;
}

.list-4 {
    margin-left: 200px;
    list-style-type: none;
    display: inline-block;
    line-height: 2;
}

.parent-list{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    padding:10px 15px
}


@media  (max-width: 1024px) {
    .list-3 {
        display: inline-block;
        margin-left: 5px;
        margin-right: auto;
    }

    .list-4 {
        display: inline-block;
        margin-left: 30px;
        margin-right: auto;
    }
}

/* Portfolio Section */
#portfolio-section {
    padding: 50px;
}

.certificate-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

@media (max-width: 600px) {
    .certificate-img {
        width: 100%
    }
}

/* Contact Section */
#contact-section {
    padding: 50px;
}


/* Footer Section */
#footer {
    padding: 7% 15%;
    text-align: center;
    background-color: #2C3639;
}

.social-icon {
    margin: 20px 10px;
    color: white;
}

/* Skills section */
.p-card-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    margin: 0 100px;
}

.p-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    transition: 0.5s;
    border: 1px solid #f1f1f1;
}

.p-card:hover {
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)!important;
}

.p-cerft-details {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.p-view-btn {
    color: #fff!important;
    background-color: #395B64!important;
    border-color: #395B64!important;
    font-weight: 600!important;
}

.skill-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.skill-card-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0 100px;
    padding: 32px 0;
}

.skill-card-row img {
    width: 20px;
    height: 20px;
}

.skills-list{
    list-style-type: none;
}

/* RESPONSIVE SECTION */
@media (max-width: 900px){

    .home-section-class{
        width:100%;
    }

    .main-pic{
        width:100%
    }

    #navbar{
        width: 100%;
    }

    .skill-card-row{
        display: inline-block;

    }

    .skill-card{
        margin-bottom: 10px;
        margin-left: -20px;
        margin-right: auto;
    }

    .p-card-row{
        display: inline-block;
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }

    .p-card{
        margin-bottom: 10px;
    }

    #contact-section{
        text-align: center;
        display: block;
    }

}

#skills-section {
    padding-bottom: 0;
}
.landing-image {
    position: relative;
    height: 75vh;
    background: url("https://images.unsplash.com/photo-1511884642898-4c92249e20b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.layer {
    background-color: rgba(37, 37, 37, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* type writer styles [Don't touch]*/
.typewriter {
    z-index: 9;
}
/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 4.5s steps(30, end),
        blink-caret 1.0s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
    @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}
.subtitle {
    color: #FFF;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}
/* type writer styles [Don't touch]*/


#nav-section {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
}

/* CONTACT SECTION */
#contact-section{
    text-align: center;
}

/* FOOTER SECTION */
.icon{
    padding: 15px;
}